@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: black;
  overflow: hidden !important;
}
.text-shadow-custom {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}






